.postDetailsContainer {
    width: 60%;
    margin: 50px auto;
    background: #cefced;
}

.imgContainer {
    justify-content: center;
    margin-bottom: 10px;
    object-fit: contain;
}

.img--postDetails {
    width: 100%;
    object-fit: contain;
}

.titleContainer {
    text-align: center;
}

.authorContainer {
    text-align: center;
    margin-bottom: 30px;
}

.contentContainer {
    padding: 10px
}

.author {
    font-weight: bold;
}

.publishedDate {
    font-style: italic;
    text-align: end;
    padding: 10px
}

.btn--addPost {
    display: block;
    margin: 25px 0px;
    
}

.postsHeader {
    text-align: center;
    margin: auto;
    width: 100%;
}

.comment {
    background-color: lightgray !important;
}

.icon--comment {
    margin-right: 5px;
    padding: 5px;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    font-size: 1.5em;
}

.tagBox {
    background-color: rgb(131, 218, 218);
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding:5px
}

.tagMngBtnContainer {
    text-align: center;
    width:100%
}

.reactionContainer{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 1px 2px;
    display: flex;
}