.postDetailsContainer {
    width: 50%;
    margin: auto;
    background: #cefced 
}

.imgContainer {
    text-align: center;
    margin-bottom: 10px;
}

.titleContainer {
    text-align: center;
}

.authorContainer {
    text-align: center;
    margin-bottom: 30px;
}

.contentContainer {
    padding: 10px
}

.author {
    font-weight: bold;
}

.publishedDate {
    font-style: italic;
    text-align: end;
    padding: 10px
}