.categoryList {
    margin: auto;
    width: 60%;
}

.categoryForm {
    display: flex;
    flex: 2;
    justify-content: space-between;
    margin: 50px auto;
    width: 60%;   
}

.input--addCategory {
    width: 80%;
}

#btn--addCategory {
    background-color: #82e4c3;
    color: #464343;
}
