.categoryList {
    margin: auto;
    width: 60%;
}

.categoryForm {
    display: flex;
    flex: 2;
    justify-content: space-between;
    margin: 50px auto;
    width: 60%;   
}

.category {
    display: flex;
    flex: 2;
    justify-content: space-between;
}

.categoryName {
    padding-left: 25px;
}

.input--addCategory {
    width: 80%;
}

.icon--category {
    padding-right: 25px;
}

.categoriesHeader {
    text-align: center;
    margin: auto;
    width: 25%;
}
